body {
    font-family: 'roboto';
    color: #212529;
}

.card-title {
    font-family: 'roboto';
    font-weight: bold;
    color: #212529;
}

.text-primary {
    font-family: 'roboto medium';
}

.card-text {
    color: #707070;
}

